/* custom font icons */
@import "font-icons/style.css";

a {
  color: #ff4081; //pinkA200
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
